:root {
  --primary-color: #25312a;
  --secondary-color: #c6e5b6;
  --accent-color: #416450;
  --nav-text-color: #65977c;
  --mobile-menu-size: 35%;
}

body {
  background: var(--primary-color);
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
body .navbar {
  background: var(--secondary-color);
  padding: 1em;
  display: flex;
  place-content: space-between;
}
@keyframes nav-selection {
  from {
    font-size: 1.3em;
  }
  to {
    font-size: 1.34em;
  }
}
@keyframes nav-menu-opening {
  from {
    width: 0%;
    font-size: 0%;
  }
  to {
    width: var(--mobile-menu-size);
    font-size: 100%;
  }
}
body .navbar .logo {
  text-decoration: none;
  font-weight: bolder;
  color: var(--primary-color);
  font-size: 1.2em;
}
body .navbar .mobile-menu {
  width: 1.6em;
  cursor: pointer;
}
body .navbar .mobile-open {
  border-radius: 15px 0px 0px 15px;
  border-color: var(--accent-color);
  border-style: solid;
  border-width: 0.25em;
  display: none;
  padding-left: 0.5em;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  background: var(--secondary-color);
  height: 98.5vh;
  animation-timing-function: ease-in-out;
}
body .navbar .mobile-open .mobile-exit {
  width: 1.5em;
  cursor: pointer;
  display: block;
  padding: 0.5em;
  padding-left: 0;
}
body .navbar .mobile-open .navlist {
  height: auto;
  font-size: 1em;
  background-color: var(--primary-color);
  border-style: outset;
  border-radius: 7.5%;
  border-width: 0.75em;
  border-color: var(--primary-color);
  margin: 0 0.25em 0.2em 0;
  list-style-type: none;
  padding: 0.25em 0 0 0;
  text-align: center;
}
body .navbar .mobile-open .navlist a {
  color: var(--nav-text-color);
  text-decoration: none;
  text-shadow: 0px 0px 15px var(--nav-text-color);
  font-size: 1.4em;
  transition: font-size 0.25s;
  text-align: center;
}
body .navbar .mobile-open .navlist a:hover {
  font-size: 2em;
  font-weight: bolder;
}
body .navbar .mobile-open .navlist li {
  border-color: var(--secondary-color);
  border-style: double;
  border-width: 0.5em;
  border-radius: 5%;
  margin: 0.25em 0 0.75em 0;
}

.main {
  text-align: center;
  padding: 0.5em 1.5em;
}
@keyframes text-wiggle {
  from {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(3deg);
  }
}
@keyframes fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
.main .container {
  margin-bottom: 3em;
}
.main .container h2 {
  margin: auto;
  font-size: 2em;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
  color: var(--secondary-color);
  margin-bottom: 2em;
}
.main .container h4 {
  font-size: 1.25em;
  margin: auto;
  width: 40vw;
  text-decoration: underline;
  font-variant: small-caps;
  color: var(--accent-color);
  background-color: var(--secondary-color);
  padding-bottom: 0.25em;
}
.main .container p {
  font-size: 0.75em;
  font-weight: bolder;
  color: var(--nav-text-color);
}
.main .container div {
  margin-top: 1em;
  position: relative;
  display: none;
}
.main .container div .left-arrow {
  display: none;
  transform: scaleX(-1);
  width: 1em;
  height: auto;
  top: 50%;
  position: absolute;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
  background-position: 50% 0%;
  border-radius: 25%;
}
.main .container div h5 {
  margin: auto;
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: var(--accent-color);
  background-color: var(--nav-text-color);
  z-index: 999;
}
.main .container div div {
  display: inline-block;
}
.main .container div div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
}
.main .container div .right-arrow {
  display: none;
  width: 1em;
  height: auto;
  top: 50%;
  right: 0;
  position: absolute;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
  background-position: 50% 0%;
  border-radius: 25%;
}

body::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=index.css.map */