@import url(/css/main.css);

body {
  .main{
    @keyframes fade {
      from{
        opacity: 100%;
      }
      to{
        opacity: 0%;
      }
    }

    .left-arrow{
      padding: 0.6em 0.6em;
      border-style: solid;
      border-width: 0px 1px 2px 0px;
      border-color: var(--color4);
      border-radius: 10em;
      display: none;
      width: 0.5em;
      height:auto;
      position: absolute;
      top: 50%;
      left: 10%;
      z-index: 999;
      color: var(--color1);
      background-color: var(--color7);
      background-position: 50% 0%;
      transform:scaleX(-1);
    }

    .right-arrow{
      padding: 0.6em 0.6em;
      border-style: solid;
      border-width: 0px 1px 2px 0px;
      border-color: var(--color4);
      border-radius: 10em;
      display: none;
      width: 0.5em;
      height:auto;
      position: absolute;
      top: 50%;
      right: 10%;
      z-index: 999;
      color: var(--color1);
      background-color: var(--color7);
      background-position: 50% 0%;
    }
    
    .info{
      
      h4{
        color: var(--color7);
        background: var(--color3);
        margin: 1em auto;
        width: 25vw;
      }
      .container{
        width: fit-content;
        height: auto;
        margin: 2em auto;
        p{
          color: var(--color6);
          font-size: 0.75em;
          height: fit-content;
          padding-bottom: 1em;
        }
        h5{
          color: var(--color5);
          margin: 0.5em auto;
          width: fit-content;
          text-shadow: 1.5px 0.5px var(--color4);
        }
        div{
          height: fit-content;
          margin: 0 1em 1em 1em;
          position: relative;
          border-style: none;
          .slideshow{
            border-style: none;
            margin: 0;
            height: fit-content;
            width: var(--cell-size);;
            img{
              aspect-ratio: 3/4;
              object-fit: contain;
              background: var(--color1);
            }
          }
        }
      }
    }
  }
}