:root {
    --color1: #25312a;
    --color2: #2c3e34;
    --color3: #334b3d;
    --color4: #416450;
    --color5: #65977c;
    --color6: #96be99;
    --color7: #c6e5b6;

    --mobile-menu-size: 35%;
    --cell-size: 270px;
}
  //bb love
body{
    background: var(--color1);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;

    @keyframes navbaropen {
        from {
          display: none;
        }
        to {
          display: block;
        }
    }
    @keyframes nav-menu-opening {
        from {
          width: 0%;
          font-size: 0%;
          height: 0vh;
        }
        to {
          width: var(--mobile-menu-size);
          font-size: 100%;
          height: 100vh;
        }
    }

    .navbar {
        background: var(--color7);
        padding: 1em;
        display: flex;
        place-content: space-between;

        .logo {
            text-decoration: none;
            font-weight: bolder;
            color: var(--color1);
            font-size: 1.2em;
        }

        span {
            color: var(--color1);
        }

        .subheader {
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
            font-size: 1em;
            text-transform: uppercase;
            font-weight: lighter;
            color: var(--color1);
            letter-spacing: 0.25em;
            margin: auto;
        }

        .mobile-menu {
            width: 1.6em;
            cursor: pointer;
        }

        .mobile-open {
            border-radius: 15px 0px 0px 15px;
            border-color: var(--color4);
            border-style: solid;
            border-width: 0.25em;
            display: none;
            padding-left: 0.5em;
            position: fixed;
            z-index: 999;
            right: 0;
            top: 0;
            background: var(--color7);
            height: 100vh;
            animation-timing-function: ease-in-out;
            max-width: 400px;
          
            .mobile-exit {
              width: 1.5em;
              cursor: pointer;
              display: block;
              padding: 0.5em;
              padding-left: 0;
            }
          
            .navlist {
              height: auto;
              font-size: 1em;
              background-color: var(--color1);
              border-style: outset;
              border-radius: 7.5%;
              border-width: 0.75em;
              border-color: var(--color1);
              margin: 0 0.25em 0.2em 0;
              list-style-type: none;
              padding: 0.25em 0 0 0;
              text-align: center;
              
              a {
                color: var(--color5);
                text-decoration: none;
                text-shadow: 0px 0px 15px var(--color5);
                font-size: 1.4em;
                transition: font-size 0.25s;
                text-align: center;
                &:hover {
                  font-size: 2em;
                  font-weight: bolder;
                }
              }
              
              li {
                border-color: var(--color7);
                border-style: double;
                border-width: 0.5em;
                border-radius: 5%;
                margin: 0.25em 0 0.75em 0;
              }
            }
        }
    }

    .main{
        text-align: center;
        padding: 0.5em 1.5em;
  
        @keyframes text-wiggle {
            from {
              transform: rotate(-3deg);
            }
            to {
              transform: rotate(3deg);
            }
        }

        h1 {
            font-size: 2em;
            line-height: 1em;
            margin-top: 0.5em;
            margin-bottom: 0.75em;
            color: var(--color7);
            animation: text-wiggle 2s ease-in-out infinite alternate;
        }

        div {
            font-weight: bold;
            font-size: 1em;
            margin-top: 1em;
            div {
              width: var(--cell-size);
              height: var(--cell-size);
              background-color: var(--color2);
              margin-left: 1em;
              margin-top: 1em;
              border-radius:5%;
              border-width: 2px;
              border-style: solid;
              border-color: var(--color3);
              p {
                height: calc(var(--cell-size) / 4);
                margin-top: 0.25em;
                margin-bottom: 0em;
                margin-left: 1em;
                margin-right: 1em;
                text-shadow: 1.5px 0.5px var(--color1);
                color: var(--color7);
              }
              img {
                aspect-ratio: 4/3;
                height: auto;
                border-radius: 5%;
                border-width: 1px;
                border-style: solid;
                border-color: var(--color7);
                width: 80%;
                margin: 1% 2% 4px 2%;
              }
              a {
                background: var(--color7);
                color: var(--color1);
                text-decoration: none;
                padding: 0.6em;
                margin: 0 1em 0.5em 1em;
                font-size: 0.75em;
                border-radius: 10em;
                font-weight: bold;
                display: block;
                cursor: pointer;
              }
            }
          }
    }
}
body::-webkit-scrollbar {
    display: none;
}