@import url("shared/shared.css");

html {
    scroll-snap-type: y mandatory;
    user-select: none;

    body {
        section:not(section#navbar, section#menu) {
            display: flex;
            align-items: center;
            scroll-margin: 70px;
            text-align: center;
            min-height: calc(100vh - 50px - var(--section_distance) - 20px);
            scroll-snap-align: start;

            div.section_content {
                width: 100%;
                padding-bottom: 15px;

                h1.section_title {
                    margin: auto;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 32pt;
                    width: fit-content;
                    border-bottom: 1px solid var(--altColor);
                }

                div.section_dropdown {
                    background-color: var(--altColor);
                    margin-bottom: 10px;

                    h2.section_dropdown_title {
                        margin: 0px;
                        padding: 10px;
                        color: var(--baseColor)
                    }

                    div.section_dropdown_content {
                        height: 0px;
                        visibility: hidden;
                        padding-bottom: 5px;

                        div.sub_section_dropdown {
                            background-color: var(--baseColor);
                            height: inherit;
                            visibility: inherit;
                            margin-bottom: 10px;

                            h3.sub_section_dropdown_title {
                                height: inherit;
                                visibility: inherit;
                                margin: 0px;
                                padding: 10px;
                                color: var(--altColor);
                            }

                            div.sub_section_dropdown_content {
                                display: flex;
                                flex-direction: column;
                                height: 0px;
                                visibility: hidden;

                                p.sub_section_dropdown_content_caption {
                                    font-style: italic;
                                    color: var(--mainDark);

                                }
                            }
                        }

                        .section_dropdown_content_list {
                            list-style: none;
                            font-weight: bolder;
                            margin: auto;
                            color: var(--baseColor);
                            padding: 10px;

                            li {
                                text-decoration: underline;
                                text-shadow: 0px 0px 5px var(--baseColor);
                                font-weight: lighter;
                                padding: 5px;
                            }
                        }

                        .section_dropdown_content_slideshow {
                            height: 250px;

                            .section_dropdown_content_slideshow_left,
                            .section_dropdown_content_slideshow_right {
                                transform: translate(0, -100%);
                                width: 80px;
                                height: 80px;
                                fill: var(--baseColor)
                            }

                            .section_dropdown_content_slideshow_image {
                                border: 5px dashed var(--baseColor);
                                width: 300px;
                                height: 240px;
                            }
                        }

                        p.section_dropdown_content_caption {
                            font-style: italic;
                            visibility: inherit;
                            margin: 0px;
                            padding: 10px;
                            color: var(--baseColor);
                        }
                    }
                }

                a {
                    text-decoration: underline;
                    color: var(--baseColor)
                }
            }

        }

        section#home {
            div.section_content {
                height: fit-content;

                div#home_buttons {
                    display: flex;
                    margin-bottom: 10px;

                    a {
                        flex: 1;
                        background-color: var(--altColor);
                        border-radius: var(--borderrad);
                        font-weight: bolder;
                        font-size: 20px;
                        text-decoration: none;
                        line-height: 35px;
                        padding: 10px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:768px) {}

.span-link {
    text-decoration: underline;
    text-shadow: 0px 0px 5px var(--baseColor);
}