@import url("shared/shared.css");

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    body {
        section {
            display: flex;
            align-items: center;
            scroll-margin: 70px;
            text-align: center;
            z-index: -2;
            min-height: calc(100vh - 50px - var(--section_distance) - 20px);
            margin-top: calc(var(--section_distance));
            scroll-snap-align: start;

            div.section_content {
                width: 100%;
                background-color: var(--altColor);
                border-radius: var(--borderrad);
                padding-bottom: 15px;

                h1.section_title {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                div.section_dropdown {
                    background-color: var(--mainColor);
                    margin-bottom: 10px;

                    h2.section_dropdown_title {
                        padding: 10px;
                    }

                    div.section_dropdown_content {
                        height: 0px;
                        visibility: hidden;
                        padding-bottom: 5px;

                        div.sub_section_dropdown {
                            background-color: var(--mainLight);
                            height: inherit;
                            visibility: inherit;
                            margin-bottom: 10px;

                            h3.sub_section_dropdown_title {
                                height: inherit;
                                visibility: inherit;
                                padding: 10px;
                                color: var(--mainDark);
                                text-shadow: 0px 2px var(--mainLight);
                            }

                            div.sub_section_dropdown_content {
                                display: flex;
                                flex-direction: column;
                                max-height: 250px;
                                height: 0px;
                                visibility: hidden;

                                p.sub_section_dropdown_content_caption {
                                    font-style: italic;
                                    height: fit-content;
                                    padding: 10px;
                                    color: var(--mainDark);
                                    text-shadow: 0px 2px var(--mainLight);
                                }
                            }
                        }

                        .section_dropdown_content_list {
                            list-style: none;
                            font-weight: bolder;
                            margin: auto;
                            padding: 0px;
                            width: fit-content;
                            color: var(--mainLight);
                            padding: 10px;

                            li {
                                font-weight: lighter;
                                margin: inherit;
                                width: inherit;
                                color: inherit;
                                text-shadow: inherit;
                                padding: 5px;
                            }
                        }

                        .section_dropdown_content_slideshow {
                            display: flex;
                            background-color: var(--mainDark);
                            height: 250px;
                            align-items: center;
                            justify-content: space-around;

                            .section_dropdown_content_slideshow_left,
                            .section_dropdown_content_slideshow_right {
                                width: 40px;
                                height: 40px;
                            }

                            .section_dropdown_content_slideshow_image {
                                width: 240px;
                                height: 240px;
                            }

                            .section_dropdown_content_slideshow_left {
                                rotate: -90deg;
                            }

                            .section_dropdown_content_slideshow_right {
                                rotate: 90deg;
                            }
                        }

                        p.section_dropdown_content_caption {
                            font-style: italic;
                            height: inherit;
                            visibility: inherit;
                            font-weight: bolder;
                            margin: 0px;
                            padding: 10px;
                            color: var(--mainLight);
                        }
                    }
                }

                a {
                    text-decoration: underline;
                    color: var(--mainLight)
                }
            }

        }





        section#home {
            margin-top: calc(var(--section_distance) + 50px);

            div.section_content {
                height: fit-content;

                div#home_buttons {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    align-items: center;
                    height: fit-content;
                    margin-bottom: 10px;

                    a {
                        flex: 1;
                        display: inline-block;
                        text-align: center;
                        background-color: var(--mainColor);
                        border-radius: var(--borderrad);
                        font-size: 20px;
                        text-decoration: none;
                        line-height: 35px;
                        width: fit-content;
                        height: 35px;
                        padding: 10px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:768px) {}

.span-link {
    text-decoration: underline;
    text-shadow: 0px 0px 5px var(--mainLight);
    color: var(--mainDark);
}