:root {
    /*Color Palette*/
    --mainColor: #416450;

    --darkBase: #25312a;
    --darkSub: #334b3d;
    --darkSubAlt: #2c3e34;


    --lightSub: #65977c;
    --lightBase: #96be99;
    --lightSubAlt: #c6e5b6;
    /*Color Palette*/

    --borderrad: 10px;
}

body {
    background-color: var(--mainColor);

    #menu {
        background-color: var(--darkBase);
        border-radius: var(--borderrad);
        box-shadow: 2px 2px 1px black;

        padding: 1px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #menu-logo{
            border: 1px solid black;
            width: 50px;

            /*Push item to left*/
            margin-left: 10px;
            margin-right: auto;
        }

        #menu-title {
            color: var(--lightBase);
            margin: 1px;
            position:absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .menu-button{
            color: var(--lightBase);
            border: 2px solid var(--darkBase);
            width: 50px;
        }

        #menu-open {
            /*Push item to right*/
            margin-right: 10px;
            margin-left: auto;
        }

        #menu-close {
            margin-right: 10px;
            margin-top: 5px;
            margin-left: 97%;
            transform: translate(-100%);
        }

        #menu-dropdown {
            display: none;

            background-color: var(--lightBase);
            width: 25%;
            min-width: 150px;
            border-radius: var(--borderrad);

            align-self: start;
            position: fixed;
            left: 99%;
            transform: translate(-99%, 0);
            margin-left: 0;
            margin-right: 10px;
            
            ul {
                list-style: none;
                padding-left: 0;
                margin: 0;
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                li {
                    background-color: var(--lightSub);
                    margin-top: 2%;
                    margin-bottom: 2%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    border: 2px solid var(--darkSubAlt);
                    border-radius: var(--borderrad);
                    color: var(--darkSubAlt);
                    font-size: 20pt;
                    width: 95%;
                    height: 50px;
                }
            }
        }
    }

    .section-container{
        background-color: var(--darkSub);
        border-radius: var(--borderrad);
        margin: 1em;
        .section-header{
            display: flex;
            flex-direction: column;

            .section-title{
                text-align: center;
                color: var(--lightSubAlt);
                margin-bottom: 0;
                padding-top: 1%;
            }
            p{
                text-align: center;
                font-style: italic;
                font-size: 14pt;
                color: var(--lightSub);
                margin: 0;
                padding: 20px;
            }
        }
        .sub-section-container{
            background-color: var(--lightSubAlt);
            border-radius: var(--borderrad);
            margin: 2%;
            justify-content: center;
            align-items: center;
            .sub-section-header{
                display: flex;
                justify-content: center;
                align-items: center;
                .sub-section-open{
                    height: 12pt;
                    transform: rotateX(180deg);
                    cursor: pointer;
                }
                .sub-section-close{
                    height: 12pt;
                    transform: rotateX(0deg);
                    cursor: pointer;
                }
                .sub-section-title{
                    text-align: center;
                    font-size: 12pt;
                    color: var(--darkSubAlt);
                    padding: 10px;
                    margin: 0;
                    width: fit-content;
                }
            }
            .sub-section-content{
                display: none;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: var(--lightBase);
                margin: 10px;
                padding-top: 10px;
                border-radius: var(--borderrad);
                video{
                    display: none;
                    aspect-ratio: 16/9;
                    height: 45vw;
                    
                    margin: 3px;
                    background-color: var(--darkSubAlt);
                }
                .content-slideshow{
                    display: none;
                    aspect-ratio: 16/9;
                    height: auto;
                    
                    margin: 0px 20px;
                    background-color: var(--darkSubAlt);
                    justify-content: center;
                    align-items: center;
                    .slideshow-slide{
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        img{
                            display: inherit;
                        }
                        p{
                            display: inherit;
                            color: var(--lightSubAlt);
                        }
                    }

                }
                table{
                    border: 2px solid black;
                    th{
                        padding: 10px;
                        border: 2px solid black;
                    }
                    td{
                        padding: 10px;
                        border: 2px dotted black;
                    }
                }
                img{
                    display: none;
                    aspect-ratio: 16/9;
                    width: 100%;
                    height: inherit;
                    
                }
                p{
                    margin: 4px;
                    padding: 0px;
                    padding-bottom: 1%;
                    font-size: 12pt;
                    cursor: pointer;
                    width: fit-content;
                }
            }
        }
        .footer-space{
            height: 1%;
        }
    }
}