@import url("../../shared/shared.css");

body{
    section:not(section#navbar, section#menu){
        padding-left: 10px;
        padding-right: 10px;
        p{
            color: var(--altColor);
            line-height: 15px;
            font-size: 12pt;
            margin: 5px;
        }
        ul{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 0px;
            list-style-position:inside;
            width: inherit;
            li{
                width: inherit;
                color: var(--altColor);
            }
        }

        h2.section-title{
            margin-bottom: 0px;
            font-size: 14pt;
            border-bottom: 1px solid var(--altColor);
        }

        div.title{
            span{
                font-weight: 900;
            }
            p{
                font-weight: lighter;
                width: fit-content;
                color: var(--altColor);
            }
        }

        div.skill-category{
            width: fit-content;
        }
    }
}

section#header{
    text-align: center;
    h1{
        font-size: 32pt;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    p{
        img{
            height: 12px;
        }
    }
}